/*-------------------------
	Header Styles
--------------------------*/

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: ##9B6AAB;
  padding: 10px 0px 0px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #ffd966ff;
  color: white;
}

/* Float the link section to the left */
.header-left {
  float: left;
}

/* media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:10;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/bg-purple.jpg') #fff;
}

body{
	min-height: 800px;
    padding: 30px 50px 50px;
	font:18px/1.3 'Segoe UI',Arial, sans-serif;
	box-shadow:0 0 25px rgba(0,0,0,0.3) inset;
	height:100%;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}


/*----------------------------
	Styling the presentation
-----------------------------*/


#impress:not(.impress-not-supported) .step{
	opacity:0.4;
}

#impress .step{
	width:700px;
	height: 600px;
	position:relative;
	margin:0 auto;
	
	-moz-transition:1s opacity;
	-webkit-transition:1s opacity;
	transition:1s opacity;
}

#impress .step.active{
	opacity:1;
}

#impress h2{
	font: normal 40px 'PT Sans Narrow', sans-serif;
	color:#fff;
	position:absolute;
	z-index:10;
}

#impress p{
	font: normal 24px/1.3 'Open Sans', sans-serif;
	color:#fff;
	position:absolute;
	z-index:10;
}

#impress img{
	position:absolute;
	z-index:1;
}

.arrow{
	width:32px;
	height:54px;
	background:url('../img/arrows.png') no-repeat;
	position:fixed;
	top:50%;
	margin-top:-27px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	opacity:0.8;
	border:none !important;
	text-decoration:none !important;
	
	-moz-transition:0.2s opacity;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.arrow:hover{
	opacity:1;
}

#arrowLeft{
	left:45px;
}

#arrowRight{
	right:45px;
	background-position:top right;
}

/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
	display:none;
}


/*----------------------------
	Slide 1 - Intro
-----------------------------*/


#impress #intro{
	width: 600px;
}

#intro h2{
	top: -13px;
	text-align: center;
    width: 90%;
}

#intro p{
	font-size: 22px;
    left: 290px;
    line-height: 1.6;
    top: 230px;
    white-space: nowrap;
}

#intro img{
	top: 200px;
}


/*----------------------------
	Slide 2 - Simplicity
-----------------------------*/


#impress #simplicity{
	width: 675px;
}

#simplicity h2{
	left: 0;
	top: 135px;
	width: 300px;
}

#simplicity p{
font-size: 22px;
    left: 0px;
    right: 20px;
    line-height: 1.6;
    top: 220px;
    white-space: nowrap;
}

#simplicity img{
	right: 0;
    top: 30px;
}


/*----------------------------
	Slide 3 - Connect
-----------------------------*/


#impress #connect{
	width: 560px;
}

#connect h2{
	left: 23px;
	top: 375px;
	width: 100%;
	text-align:center;
}

#connect p{
	
	margin-left: 60px;
    text-align: center;
    top: 460px;
    width: 490px;
}

#connect img{
	right: 0;
    top: 50px;
}


/*----------------------------
	Slide 4 - Detected
-----------------------------*/


#impress #upload{
	width: 620px;
}

#upload h2{
	left: 0;
    text-align: center;
    top: 170px;
}

#upload p{
	left: 5px;
    top: 255px;
    width: 280px;
}

#upload img{
	right: -80px;
    top: 30px;
}


/*----------------------------
	Slide 5 - Music
-----------------------------*/


#impress #music{
	width: 690px;
}

#music h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#music p{
	font-size: 15px;
    left: 45px;
    text-indent: 15px;
    top: 119px;
    width: 402px;
}

#music img{
	right: 0;
    top: 200px;
}

/*----------------------------
	Slide 5 - Download 
-----------------------------*/


#impress #download{
	width: 600px;
	position: absolute;
}

#download h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#download p{
	font-size: 30px;
    left: -25px;
    text-align: left;
    text-indent: 15px;
    top: 190px;
    width: 402px;
}

#download img{
	right: 0;
    top: 190px;

}

/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
